.header {
  width: 100%;
  background-color: #000;

  position: fixed;
  z-index: 2;
}

.header-inner {
  width: 100%;
  height: 45px;
  margin: 0 auto;
  padding: 0px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-logo a {
  font-size: 28px;
  letter-spacing: 0.05rem;
  font-weight: normal;
  color: #ffffff;
}

.header-nav__list {
  display: flex;
  gap: 20px;
}

.header-nav__list li a {
  font-size: 12px;
  letter-spacing: 0.05rem;
  color: #ffffff;
}

.header-nav__list li a:hover {
  border-bottom: 1px solid #ffffff;
}

.hamburger-button {
  width: 25px;
  height: 20px;

  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.hamburger-button span:nth-child(1) {
  width: 100%;
  height: 2px;
  background-color: #ffffff;

  position: absolute;
  top: 0;
}

.hamburger-button span:nth-child(2) {
  width: 100%;
  height: 2px;
  background-color: #ffffff;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-button span:nth-child(3) {
  width: 100%;
  height: 2px;
  background-color: #ffffff;

  position: absolute;
  bottom: 0;
}

.close-button {
  position: absolute;
  z-index: 3;

  top: 45%;
  left: 20px;

  width: 25px;
  height: 20px;

  display: none;
}

.close-button span:nth-child(1) {
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #ffffff;

  transform: rotate(135deg);
}

.close-button span:nth-child(2) {
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #ffffff;

  transform: rotate(-135deg);
}
//一旦display: none;
.hamburger-menu {
  display: fixed;
  z-index: 3;

  top: 80px;

  width: 100%;
  height: 100vh;

  display: none;
}

.hamburger-menu__list {
  display: flex;
  flex-direction: column;
}

.hamburger-menu__list li {
  margin-top: 20px;
  margin-left: 20px;
}

.hamburger-menu__list li:nth-child(1) {
  display: flex;
}

.hamburger-menu__list li a {
  letter-spacing: 0.05rem;
  color: #ffffff;
}

.hamburger-menu__list li a:hover {
  border-bottom: 1px solid #ffffff;
}

.hamburger-menu__list li input {
  height: 26px;

  margin-left: 20px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;

  outline: none;

  background-color: #000000;

  border: 1px solid #ffffff;

  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .search-icon {
    display: none;
  } 

  .header-logo a {
    font-size: 20px;
    vertical-align: middle;
  }

  .header-nav__list {
    display: none;
  }

  .hamburger-button {
    display: block;
  }
}