.header {
    background-color: #000;

    &-inner {
        max-width: 1440px;
        height: 80px;
        margin: 0 auto;
        padding: 0 40px;
      
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &-logo a {
        font-size: 42px;
        color: #ffffff;
    }
  }
  
  